.display-flex-center{
    align-content: center;
    justify-content: center;
    display: flex;
}

.flex-center{
    align-content: center;
    justify-content: center;
}

.btn-primary-light{
    background-color:var(--primary-color);
    width:25rem;
    color:white

}

.gap-sm{
    gap:1rem;
}

.dis-flex{
    display:flex
}

.flex-sb{
    justify-content: space-between;
}
